<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex</title>
  </head>
  <body>
    <nav class="header">
      <h3 class="header-title">Pokedex</h3>
      <ul class="header-links">
        <li><a href="/" class="header-link">Liste</a></li>
        <li><a href="/types" class="header-link">Types</a></li>
      </ul>
    </nav>
    <div class="container">
      <% pokedex.forEach(pokemon => { %>
        <a class="card" href="/pokemon/<%= pokemon.id %>">
          <img class="card-image" src="/img/<%= pokemon.numero %>.png" alt="<%= pokemon.name %>" />
          <h4 class="card-name">#<%= pokemon.numero %> <%= pokemon.nom %></h4>
        </a>
      <% }); %>
    </div>
  </body>
</html>
